# ignore main project
src/obj/
src/bin/
src/Config.cs

#ignore TestParse
test/TestParse/obj/
test/TestParse/bin/

#ignore TestSqlite
test/TestSqlite/obj/
test/TestSqlite/bin/

#ignore TestMongoDB
test/TestMongoDB/obj/
test/TestMongoDB/bin/